@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
