@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ededed;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
}
